
*{
   
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(images/hero.jpg);
    background-position: center;
    background-size: cover;
}






.about{
    text-align: center;
    padding: 100px;
    color: #F7F7F7;
}
.about h3{
   font-family: "Dongle-bold";
   font-size: 3rem;
}
.about p{
    font-family: "Dongle-regular";
    font-size: 1.4rem;
    line-height: 1;
    margin-bottom: 40px;
}
.team-members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-member img{
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: cover;
}
.team-member h4{
    font-family: "Dongle-bold";
    font-size: 2rem;
}
.contact{
    padding: 80px;
    text-align: center;
    background-color: #F7F7F7;
}